<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title>watcher $!appName</title>
    <style>
        .content {
            margin-left: auto;
            margin-right: auto;
            width: 1280px
        }

        table {
            border-collapse: collapse;
            font-family: Futura, Arial, sans-serif;
            border: 1px solid #777;
            width: 1280px
        }

        caption {
            font-size: larger;
            margin: 1em auto;
        }

        th,
        td {
            padding: .65em;
        }

        th,
        thead {
            background: #000;
            color: #fff;
            border: 1px solid #000;
        }

        tr:nth-child(odd) {
            background: #ccc;
        }

        tr:hover {
            background: #aaa;
        }

        td {
            border-right: 1px solid #777;
        }
    </style>
</head>

<body>
<div class="content">
    <div class="header">
        <h1>
            <center>$!appName watcher services</center>
        </h1>
        <hr/>
    </div>
    <div class="comps">
        <div>
            <table>
                <tr>
                    <th width="100px">metricName</th>
                    <th>description</th>
                    <th width="100px">url</th>
                </tr>

                #foreach( $metircs in $metricses)
                    <tr>
                        <td>${metircs.name()}</td>
                        <td>${metircs.desc()}</td>
                        <td><a href="q.do?action=${metircs.name()}&resType=json" target="_blank">json</a> | <a
                                href="q.do?action=${metircs.name()}&resType=text" target="_blank">text</a>
                    </tr>
                #end

            </table>
        </div>
    </div>
</div>
</body>

</html>
